/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  background-color: #fffaf7;
  color: #333;
}

/* TOPO */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0e0105;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-wrap: wrap;
  gap: 15px;
}

.logo {
  font-size: 2.2rem;
  color: #c2185b;
  font-weight: bold;
  font-family: "Imperial Script", cursive;
;
}

.pesquisa {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 200px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  position: relative;
}

.menu-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10;
  border-radius: 9px;

}

.dropdown:hover .menu-dropdown {
  display: block;
}

.menu-dropdown a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.menu-dropdown a:hover {
  background-color: #ffe4ec;
}

.whatsapp, .carrinho {
  font-size: 1.4rem;
  color: rgb(2, 100, 2);
  background: none;
  border: none;
  cursor: pointer;
}

.carrinho {
  color: #c2185b;
}

/* BANNER */
.banner img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
}

/* PRODUTOS */
.destaque, .catalogo {
  padding: 40px 20px;
  text-align: center;
}

.destaque h2, .catalogo h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #4109c2;
}

.produtos-linha {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.produto {
  background-color: #fff;
  border-radius: 16px;
  padding: 15px;
  width: 220px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.produto:hover {
  transform: translateY(-5px);
}

.produto img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}

.produto h3 {
  font-size: 1.1rem;
  color: #6a1b9a;
  margin: 10px 0 5px;
}

.produto p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.comprar {
  background: linear-gradient(45deg, #e91e63, #f06292);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
}

.comprar:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #c2185b, #d81b60);
}

/* BOTÃO VER MAIS */
#verMais {
  background-color: #ff80ab;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
 text-align: center;
}

#verMais:hover {
  background-color: #f50057;
}

/* FOOTER */
.rodape {
  background-color: #ffe2ec;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  color: #000000;
  font-weight: bold;
}
